@import '../../variables.scss';

.input-container {
  display: flex;
  flex-direction: column;

  .input {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #000;
    outline: none;
    font-size: 16px;
    font-weight: 200;
  }

  .input.invalid {
    border-color: $light-red;
  }

  .input:disabled {
    pointer-events: none;
    border-color: $grey;
    user-select: none;
  }

  .label {
    margin-bottom: 10px;
  }
}
